.userinputgrid {
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin-left: 10vw;
}

.hover:hover {
    cursor: pointer;
}

.transparent {
    background-color: transparent;
    border: none;
}

.listitemgrid {
    display: grid;
    justify-content: center;
    width: 75vw;
    grid-template-columns: 8fr 1fr;
}

.listiteminput {
    width: 75%;
    background-color: transparent;
    border: none;
    outline: transparent;
}